body {
    margin:0
}

.canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg, #282222 0%, #000000 100%);
    position: absolute;
}

.buttonsRoot, .exitWalkerMobile {
    position: absolute;

    font-size: 4vh;
    font-weight: bold;
    
    -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                not supported by any browser */
}

.exitWalkerMobile {
    left: 0;
    top: 0;
    width: 20%;
    height: 10%;
    display: none;
}

.buttonsRoot {
    bottom: 0;
    right: 35%;
    width: 30%;
    height: 12%;

    background: #884444;
    display: table;
}

.walkerButton, .generateButton, .exitWalkerMobileButton {
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    background: #eeeeee;
    display: table-cell;
    vertical-align: middle;
    line-height: 100%;
}

.walkerButton, .generateButton {
    width: 49%;
}

.walkerButton:hover, .generateButton:hover{
    background: #aa8888;
}

.dummy {
    width: 2%;
    height: 100%;
    background: red;
}

.dg .c .slider-fg {
    background: #888888;
}
.dg .c .slider:hover .slider-fg {
    background: #cccccc;
}

.dg .cr.string input[type=text] {
    color: #bbbbbb;
}
.dg .cr.number input[type=text] {
    color: #bbbbbb;
}

.dg .cr.function {
    border-left: 3px solid #777777;
}
.dg .cr.string {
    border-left: 3px solid #bbbbbb;
}
.dg .cr.boolean {
    border-left: 3px solid #eeeeee;
}
.dg .cr.number {
    border-left: 3px solid #999999;
}
